.banner {
    // background-image: url('../../assets/images/two_girl.jpg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    color: $whiteColor;
    padding: 170px 0 20px;
    position: relative;

    // @include media(min, 'md') {
    //     background-image: url('../../assets/images/girl-corporate.webp');
    //     padding: 200px 0 100px;
    // }

    @include media(min, 'lg') {
        background-image: url('../../assets/images/more-girl.webp');
    }

    &__content-wrapper {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 15px;
        text-align: center;

        @include media(min, 'md'){
            align-items: flex-start;
            text-align: left;
        }
    }


}