.banner {
  width: 100%;
  height: 650px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 21px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $borderGray;
    z-index: -1;

    @include media(min, "md") {
      bottom: 166px;
    }

    @include media(min, "xl") {
      bottom: 50px;
    }
  }

  .swiper {
    overflow: visible;

    &__btn-wrapper {
      @include media(min, "md") {
        position: absolute;
        bottom: -155px;
        left: 28%;
        display: flex;
        width: 13%;
        flex-direction: row-reverse;
        justify-content: space-between;

        @include media(min, "lg") {
          width: 10%;
          left: 23%;
        }

        @include media(min, "xl") {
          bottom: -21px;
          left: 20%;
        }
      }
    }

    .img-wrapper {
      position: relative;
      height: 300px;
      top: 80px;
      width: 200px;
      margin: 0 auto 60px;

      @include media(min, "md") {
        right: 0;
        margin: 0 0 0 auto;
        width: 280px;
        top: 90px;
        height: 350px;
      }

      @include media(min, "lg") {
        top: 100px;
      }

      @include media(min, "xl") {
        top: 0;
        right: 55px;
        width: 468px;
        height: 600px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -45px;
        width: 100%;
        left: 0;
        height: 105px;
        background: url("../../assets/images/main-preview-img-decor.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        @include media(min, "lg") {
          background: url("../../assets/images/main-preview-img-decor1.svg");
          background-repeat: no-repeat;
          background-size: contain;
          bottom: -50px;
        }

        @include media(min, "xl") {
          bottom: -35px;
          left: 30px;
        }
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        border-radius: 0 0 500px 500px;
      }

      &::after {
        @include media(min, "xl") {
          position: absolute;
          background-image: url("../../assets/images/img-decor.webp");
          background-repeat: no-repeat;
          content: "";
          right: -44px;
          top: 46%;
          width: 60px;
          height: 110px;
        }
      }
    }

    .text-wrapper {
      position: absolute;
      width: 275px;
      height: 200px;
      bottom: -270px;
      left: 0;

      @include media(min, "md") {
        width: 350px;
        top: 50%;
      }

      @include media(min, "lg") {
        width: 480px;
      }

      @include media(min, "xl") {
        top: 35%;
        width: 580px;
      }

      h1,
      h2,
      h3 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 700;

        @include media(min, "md") {
          font-size: 36px;
          line-height: 45px;
          margin-bottom: 60px;
        }

        @include media(min, "lg") {
          font-size: 48px;
          line-height: 58px;
          margin-bottom: 21px;
        }

        @include media(min, "xl") {
          font-size: 58px;
          line-height: 63px;
        }
      }

      .text-decoration {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background: #{$goldColorSecond};
          z-index: -1;

          @include media(min, "md") {
            bottom: 3px;
          }

          @include media(min, "lg") {
            height: 7px;
          }

          @include media(min, "xl") {
            height: 9px;
          }
        }
      }
    }

    .swiper-pagination {
      bottom: -65px;

      @include media(min, "md") {
        bottom: -140px;
        width: 7%;
        left: 78%;
      }

      @include media(min, "lg") {
        left: 82.5%;
      }

      @include media(min, "xl") {
        left: 76.5%;
        bottom: -80px;
      }

      .swiper-pagination-bullet {
        background-color: $secondDark;
      }
    }

    &::after {
      @include media(min, "xl") {
        content: "";
        background-image: url("../../assets/images/main-preview-dots.svg");
        background-repeat: no-repeat;
        left: 50%;
        position: absolute;
        width: 35px;
        height: 158px;
        top: 37%;
        z-index: -1;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: $goldColor;

    @include media(min, "md") {
      position: static;
    }

    &::after {
      font-size: 20px;
      font-weight: 700;

      @include media(min, "md") {
        font-size: 24px;
      }
    }
  }

  .gradient {
    position: absolute;
    background: #{$bgGradientPrimary};
    top: 0;
    right: 0;
    width: 50%;
    height: 520px;
    border-bottom-left-radius: 123px;

    @include media(min, "md") {
      width: 35%;
    }

    @include media(min, "lg") {
      width: 25%;
    }

    @include media(min, "xl") {
      width: 47%;
      height: 740px;
    }
  }

  .btn {
    margin-top: 30px;

    @include media(min, "md") {
      margin-top: 70px;
    }

    @include media(min, "lg") {
      margin-top: 83px;
    }

    @include media(min, "xl") {
      margin-top: 169px;
      font-size: 18px;
    }
  }

  .btn-primary {
    @include media(min, "md") {
      margin-top: 25px;
    }

    @include media(min, "xl") {
      margin-top: 105px;
    }
  }

  .btn-secondary {
    @include media(min, "lg") {
      margin-top: 43px;
    }

    @include media(min, "xl") {
      margin-top: 105px;
    }
  }

  .construction {
    position: relative;

    &::after {
      @include media(min, "xl") {
        content: "";
        position: absolute;
        top: 0;
        right: 350px;
        width: 610px;
        height: 230px;
        background-image: url("../../assets/images/mouse.svg");
        background-repeat: no-repeat;
        z-index: -1;
      }
    }
  }
}
