.header {
  position: fixed;
  z-index: 100;
  padding: 15px 0;
  width: 100%;

  @include media(min, "md") {
    padding: 20px 0;
  }

  @include media(min, "xl") {
    width: 61%;
    padding: 30px 30px 30px 123px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: $borderGray;

    @include media(min, "md") {
      width: 65%;
    }

    @include media(min, "lg") {
      width: 75%;
    }

    @include media(min, "lg") {
      width: 87%;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-social {
    gap: 10px;

    @include media(min, "md") {
      gap: 15px;
    }

    @include media(min, "lg") {
      gap: 30px;
    }
  }

  .logo {
    width: 45px;
    position: relative;
    z-index: 10;

    @include media(min, "lg") {
      width: 70px;
    }
  }

  &__img {
    width: 40px;
  }

  &__nav {
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.8s ease;
    transform: translateX(-100%);
    background-color: $secondDark;
    z-index: 8;
    padding: 0 0 20px;

    @include media(min, "lg") {
      width: 65%;
      border-bottom-right-radius: 50px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      background-color: $borderGray;
      height: 1px;
      top: 60px;
      width: 100%;

      @include media(min, "md") {
        top: 80px;
      }

      @include media(min, "lg") {
        top: 87px;
      }

      @include media(min, "xl") {
        top: 107px;
      }
    }
  }

  .list-link {
    display: none;

    @include media(min, "md") {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      &:nth-child(2) {
        &::after {
          position: absolute;
          content: "";
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $warningPrimaryColor;
        }
      }

      a {
        color: $darkColor;
        transition: all 0.3s ease;
      }
    }

    @include media(min, "xl") {
      margin-right: 40%;
    }
  }

  &__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 30px;
    justify-content: space-between;
  }

  &__list-social-link {
    @include media(min, "md") {
      display: none;
    }
  }

  .btn-header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: $whiteColor;
    border: none;
    cursor: pointer;
  }

  &__btn-menu {
    padding: 0;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 21px;
    height: 17px;
    cursor: pointer;
    position: relative;
    color: $darkColor;

    &::before,
    &::after {
      content: "";
      width: 21px;
      height: 1px;
      transition: all 0.3s ease;
      background-color: $darkColor;
    }

    span {
      width: 100%;
      height: 1px;
      transition: all 0.3s ease;
      background-color: $darkColor;
    }
  }
}

.decor {
  @include media(min, "lg") {
    position: absolute;
    transform: translateX(-100%);
    background-color: $whiteColor;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: all 0.9s ease;
    opacity: 0.5;
  }
}

.menu-active {
  .header__btn-menu {
    &::before {
      transform: rotate(45deg) translate(6px, 6px);
    }

    &::after {
      transform: rotate(-45deg) translate(6px, -5px);
    }

    span {
      opacity: 0;
    }
  }

  .header__nav {
    transform: translateX(0);
  }

  .decor {
    transform: translateX(0);
    left: 80%;
  }

  .btn-header {
    background-color: $warningPrimaryColor;
  }

  .text-warning {
    a {
      color: $warningPrimaryColor;
    }
  }
}

.wrapper-menu {
  position: relative;

  @include media(min, "xl") {
    position: absolute;
    right: 45px;
    top: 29px;
    flex-direction: column-reverse;
  }

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: -5px;
  //   right: -7px;
  //   background-color: $whiteColor;
  //   border-radius: 50%;
  //   width: 35px;
  //   height: 35px;
  //   z-index: 9;
  //   pointer-events: all;

  //   @include media(min, "lg") {
  //     width: 50px;
  //     height: 50px;
  //     top: -12px;
  //     right: -14px;
  //   }

  //   @include media(min, "xl") {
  //     top: -16px;
  //     right: -1px;
  //   }
  // }

  &__item {
    margin: 0 20px;

    @include media(min, "xl") {
      margin: 20px 0 0 0;
    }

    span {
      font-size: 25px;
      margin-right: 5px;

      @include media(min, "xl") {
        display: none;
      }
    }
  }
}
