.header {
  position: fixed;
  z-index: 100;
  padding: 15px 0;
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);

  @include media(min, "md") {
    padding: 20px 0;
  }

  @include media(min, "xl") {
    width: 61%;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list-social {
    gap: 10px;

    @include media(min, "md") {
      gap: 15px;
    }

    @include media(min, "lg") {
      gap: 30px;
    }
  }

  .logo {
    width: 45px;
    position: relative;
    z-index: 10;

    @include media(min, "lg") {
      width: 70px;
    }
  }

  &__img {
    width: 40px;
  }

  &__nav {
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100%;
    right: 0;
    top: 0;
    transition: all 0.8s ease;
    transform: translateX(-100%);
    background-color: $darkColor;
    z-index: 8;
    padding: 0 0 20px;

    @include media(min, "xl") {
      max-width: 1000px;
      margin-right: 35%;
      border-bottom-right-radius: 50px;
    }
  }

  .list-link {
    display: none;

    @include media(min, "md") {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      &:nth-child(2) {
        &::after {
          position: absolute;
          content: "";
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $warningPrimaryColor;
        }
      }

      a {
        color: $darkColor;
        transition: all 0.3s ease;
      }
    }

    @include media(min, "xl") {
      margin-right: 40%;
    }
  }

  &__list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 30px;
    justify-content: space-between;

    @include media(min, "md") {
    }

    @include media(min, "xl") {
    }
  }

  &__list-social-link {
    @include media(min, "md") {
      display: none;
    }
  }

  &__btn-menu {
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 21px;
    height: 17px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    color: $darkColor;

    &::before,
    &::after {
      content: "";
      width: 21px;
      height: 1px;
      transition: all 0.3s ease;
      background-color: $darkColor;
    }

    span {
      width: 100%;
      height: 1px;
      transition: all 0.3s ease;
      background-color: $darkColor;
    }

    // @include media(min, "md") {
    //   display: none;
    // }
  }
}

.menu-active {
  .header__btn-menu {
    &::before {
      transform: rotate(45deg) translate(6px, 6px);
    }

    &::after {
      transform: rotate(-45deg) translate(6px, -5px);
    }

    span {
      opacity: 0;
    }
  }

  .header__nav {
    transform: translateX(0);
  }

  .wrapper-menu {
    &.bg-decor::after {
      background-color: $warningPrimaryColor;
    }
  }

  .text-warning {
    a {
      color: $warningPrimaryColor;
    }
  }
}

.wrapper-menu {
  position: relative;

  @include media(min, "xl") {
    position: absolute;
    right: 0;
    top: 35px;
    flex-direction: column-reverse;
  }

  &::after {
    content: "";
    position: absolute;
    top: -5px;
    right: -7px;
    background-color: $whiteColor;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    z-index: 9;

    @include media(min, "lg") {
      width: 50px;
      height: 50px;
      top: -12px;
      right: -14px;
    }

    @include media(min, 'xl') {
      top: -16px;
      right: -1px;
    }
  }

  &__item {
    margin: 0 20px;

    @include media(min, "xl") {
      margin: 20px 0 0 0;
    }

    span {
      font-size: 25px;
      margin-right: 5px;

      @include media(min, "xl") {
        display: none;
      }
    }
  }
}
