$whiteColor: #fff;
$darkColor: #000000;
$secondDark: #282828;
$goldColor: #B8860B;
$grayColor: #e2e2e2;
$goldColorSecond: 'linear-gradient(90deg, #8B5E3C, #C79750, #FFD700, #8B5E3C)';

$borderGray: #c0c0c096;

$warningPrimaryColor: #D4AF37;

$bgGradientPrimary: 'linear-gradient(73.08deg, #8d9194 10.62%, #b29f93 46.57%, #a3a59f 97.28%, #d4af37 100%)';



$primaryFont: "Montserrat", serif;
