$whiteColor: #fff;
$darkColor: #000000;
$secondDark: #282828;
$goldColor: #B8860B;
$grayColor: #e2e2e2;
$goldColorSecond: 'linear-gradient(90deg, #8B5E3C, #C79750, #FFD700, #8B5E3C)';

$borderGray: #c0c0c096;

$warningPrimaryColor: #D4AF37;

$bgGradientPrimary: 'linear-gradient(73.08deg, #e8ebed 10.62%, #faebe3 46.57%, #e9eae5 97.28%)';

$primaryFont: "Montserrat", serif;
